apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-health-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java-health-service
  template:
    metadata:
      labels:
        app: java-health-service
    spec:
      containers:
      - name: app
        image: charanjops/java-microservice:50883bb50d3a82ba26c85233c887604e0c57eaa1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
