apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-health-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java-health-service
  template:
    metadata:
      labels:
        app: java-health-service
    spec:
      containers:
      - name: app
        image: charanjops/java-microservice:4adcc5c9ee10d9be9e4423a7363c0a9fe2871d04
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
