apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-health-service
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java-health-service
  template:
    metadata:
      labels:
        app: java-health-service
    spec:
      containers:
      - name: app
        image: charanjops/java-microservice:4796fa42c50cfa7f077e410b9c18254cd0af17e3
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080

        startupProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          failureThreshold: 30
          periodSeconds: 5

        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 3

        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 3
